@import url("https://fonts.googleapis.com/css2?family=Anton&family=Beau+Rivage&family=Hurricane&family=Parisienne&family=Playfair+Display&family=Roboto+Slab:wght@100&family=Roboto:wght@100&family=Updock&display=swap");
.header-footer, .header, .gridFooter {
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  color: black; }

.seccion {
  background-color: whitesmoke; }

.footer {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterText {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterUno {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterDos {
  align-items: center;
  width: 50%;
  height: 50%; }

.header-footer, .header, .gridFooter {
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  color: black; }

.seccion {
  background-color: whitesmoke; }

.footer {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterText {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterUno {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterDos {
  align-items: center;
  width: 50%;
  height: 50%; }

.header .nav {
  font-family: "Anton", sans-serif;
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 0, 255, 0.62);
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
  flex: wrap;
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
  flex: wrap; }
  .header .nav a {
    color: black;
    text-decoration: none;
    margin: 5%; }
    .header .nav a:hover {
      color: white; }

.header-footer, .header, .gridFooter {
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  color: black; }

.seccion {
  background-color: whitesmoke; }

.footer {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterText {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterUno {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterDos {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: "section section section section" "main main  main main" "main main main main" "footer footer footer footer"; }
  .gridContainer section {
    grid-area: section; }
    .gridContainer section main {
      grid-area: main; }
      .gridContainer section main footer {
        grid-area: footer; }

.header-footer, .header, .gridFooter {
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  color: black; }

.seccion {
  background-color: whitesmoke; }

.footer {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterText {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterUno {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterDos {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridSection {
  font-family: "Anton", sans-serif;
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 0, 255, 0.62);
  display: grid;
  grid-template-areas: "gridSection gridSection gridSection gridSection";
  background-color: aliceblue; }
  .gridSection .gridSectionSlogan {
    grid-area: slogan;
    text-transform: uppercase;
    font-size: large; }

.header-footer, .header, .gridFooter {
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  color: black; }

.seccion {
  background-color: whitesmoke; }

.footer {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterText {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterUno {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterDos {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridMain {
  display: grid;
  grid-template-areas: "gridMain gridMain gridMain gridMain" "gridMain gridMain gridMain gridMain";
  background-color: #AED6F1; }
  .gridMain .gridMainText {
    font-family: "Anton", sans-serif;
    line-height: 1.5;
    font-weight: bolder;
    text-align: center;
    color: rgba(0, 0, 255, 0.62);
    grid-area: main;
    margin: 2%; }

/*imagen que hace parte de MAIN EN index*/
.gridMainEs {
  grid-area: main;
  width: 480px;
  height: 480px;
  padding: 2%;
  image-resolution: 40px;
  border-radius: 30%;
  margin-left: 20%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 10px;
  border-style: ridge; }

/*ACA COMIENZA EL FORMULARIO conteneder-padre con cada uno de sus hijos en INDEX, COMENZAR Y ACCESSO. TAMBIEN SE APLICA AL FORM MAQUETADO CON BOOTSTRAP EN INDEX Y ACCESSO*/
.gridMainForm {
  border-radius: 2%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 5px;
  border-style: solid;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px;
  display: gridMainForm;
  background-color: azure; }

.gridMainForm1 {
  border-radius: 2%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 5px;
  border-style: solid;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px;
  display: gridMainForm;
  background-color: azure;
  /*nombre*/ }
  .gridMainForm1 .form1 {
    grid-area: form1;
    margin: 20px;
    /*Email*/ }
    .gridMainForm1 .form1 .form2 {
      grid-area: form2;
      margin: 20px;
      /*Comentarios*/ }
      .gridMainForm1 .form1 .form2 .form3 {
        grid-area: form3;
        margin: 20px 20px 20px 20px;
        /*boton de envio*/ }
        .gridMainForm1 .form1 .form2 .form3 .form5 {
          grid-area: form5;
          margin: 20px;
          text-align: center; }

.gridMainArticle {
  border-radius: 2%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 5px;
  border-style: solid;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-areas: "main main main main";
  background-color: #AED6F1;
  text-align: center; }
  .gridMainArticle .gridMainArticleUno {
    grid-template-areas: "main";
    text-align: justify; }
    .gridMainArticle .gridMainArticleUno .gridMainArticleDos {
      grid-template-areas: "main";
      text-align: justify; }
      .gridMainArticle .gridMainArticleUno .gridMainArticleDos .gridMainArticleTres {
        grid-template-areas: "main";
        text-align: justify; }

/*COMIENZO DE MAINMEDIA y estilos aplicados al mismo la pagina de ACCESSO */
.gridMainMedia {
  display: gridMainMedia; }
  .gridMainMedia .mediaVideo1 {
    grid-area: mediavideo1;
    margin: 10px 10px 10px 80px;
    border-radius: 10px; }

.header-footer, .header, .gridFooter {
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  color: black; }

.seccion {
  background-color: whitesmoke; }

.footer {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterText {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterUno {
  align-items: center;
  width: 50%;
  height: 50%; }

.gridFooterDos {
  align-items: center;
  width: 50%;
  height: 50%; }

/*GRIDFOOTER*/
.gridFooter {
  display: grid;
  grid-template-areas: "gridFooter gridFooter gridFooter gridFooter gridFooter";
  justify-content: flex-end;
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1); }
  .gridFooter .gridFooterText {
    grid-area: footer;
    text-align: right; }

.gridFooterUno {
  color: black;
  text-decoration: none;
  grid-area: footer;
  width: 50%;
  height: 60%;
  padding: 5%; }
  .gridFooterUno a:hover {
    color: white; }

.gridFooterDos {
  color: black;
  text-decoration: none;
  grid-area: footer;
  width: 50%;
  height: 55%;
  padding: 5%; }
  .gridFooterDos a:hover {
    color: white; }

.gridFooterTres {
  grid-area: footer;
  font-size: xx-large;
  font-weight: 900;
  padding: 5%; }

:root {
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  box-sizing: border-box; }

/*HEADER*/
.header .nav {
  font-family: "Anton", sans-serif;
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 0, 255, 0.62);
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
  flex: wrap;
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
  flex: wrap; }
  .header .nav a {
    color: black;
    text-decoration: none;
    margin: 5%; }
    .header .nav a:hover {
      color: white; }

/*GRIDCONTAINER*/
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: "section section section section" "main main  main main" "main main main main" "footer footer footer footer"; }
  .gridContainer section {
    grid-area: section; }
    .gridContainer section main {
      grid-area: main; }
      .gridContainer section main footer {
        grid-area: footer; }

/*GRIDSECTION*/
.gridSection {
  font-family: "Anton", sans-serif;
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 0, 255, 0.62);
  display: grid;
  grid-template-areas: "gridSection gridSection gridSection gridSection";
  background-color: aliceblue; }
  .gridSection .gridSectionSlogan {
    grid-area: slogan;
    text-transform: uppercase;
    font-size: large; }

/*MAIN*/
.gridMain {
  display: grid;
  grid-template-areas: "gridMain gridMain gridMain gridMain" "gridMain gridMain gridMain gridMain";
  background-color: #AED6F1; }
  .gridMain .gridMainText {
    font-family: "Anton", sans-serif;
    line-height: 1.5;
    font-weight: bolder;
    text-align: center;
    color: rgba(0, 0, 255, 0.62);
    grid-area: main;
    margin: 2%; }

/*imagen que hace parte de MAIN EN index*/
.gridMainEs {
  grid-area: main;
  width: 480px;
  height: 480px;
  padding: 2%;
  image-resolution: 40px;
  border-radius: 30%;
  margin-left: 20%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 10px;
  border-style: ridge; }

/*FORMULARIO MAQUETADO CON BOOTSTRAP*/
.gridMainForm {
  border-radius: 2%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 5px;
  border-style: solid;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px;
  display: gridMainForm;
  background-color: azure; }

/*FORMULARIO MAQUETADO CON CSS*/
.gridMainForm1 {
  border-radius: 2%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 5px;
  border-style: solid;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px;
  display: gridMainForm;
  background-color: azure;
  /*nombre*/ }
  .gridMainForm1 .form1 {
    grid-area: form1;
    margin: 20px;
    /*Email*/ }
    .gridMainForm1 .form1 .form2 {
      grid-area: form2;
      margin: 20px;
      /*Comentarios*/ }
      .gridMainForm1 .form1 .form2 .form3 {
        grid-area: form3;
        margin: 20px 20px 20px 20px;
        /*boton de envio*/ }
        .gridMainForm1 .form1 .form2 .form3 .form5 {
          grid-area: form5;
          margin: 20px;
          text-align: center; }

.gridMainArticle {
  border-radius: 2%;
  border-color: rgba(0, 0, 255, 0.62);
  border-width: 5px;
  border-style: solid;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-areas: "main main main main";
  background-color: #AED6F1;
  text-align: center; }
  .gridMainArticle .gridMainArticleUno {
    grid-template-areas: "main";
    text-align: justify; }
    .gridMainArticle .gridMainArticleUno .gridMainArticleDos {
      grid-template-areas: "main";
      text-align: justify; }
      .gridMainArticle .gridMainArticleUno .gridMainArticleDos .gridMainArticleTres {
        grid-template-areas: "main";
        text-align: justify; }

/*COMIENZO DE MAINMEDIA y estilos aplicados al mismo la pagina de ACCESSO */
.gridMainMedia {
  display: gridMainMedia; }
  .gridMainMedia .mediaVideo1 {
    grid-area: mediavideo1;
    margin: 10px 10px 10px 80px;
    border-radius: 10px; }

/*FOOTER*/
.gridFooter {
  display: grid;
  grid-template-areas: "gridFooter gridFooter gridFooter gridFooter gridFooter";
  justify-content: flex-end;
  background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1); }
  .gridFooter .gridFooterText {
    grid-area: footer;
    text-align: right; }

.gridFooterUno {
  color: black;
  text-decoration: none;
  grid-area: footer;
  width: 50%;
  height: 60%;
  padding: 5%; }
  .gridFooterUno a:hover {
    color: white; }

.gridFooterDos {
  color: black;
  text-decoration: none;
  grid-area: footer;
  width: 50%;
  height: 55%;
  padding: 5%; }
  .gridFooterDos a:hover {
    color: white; }

.gridFooterTres {
  grid-area: footer;
  font-size: xx-large;
  font-weight: 900;
  padding: 5%; }

/*FULL RESPONSIVE*/
@media only screen and (max-width: 767px) {
  .header {
    display: none; }
    .header .nav {
      display: none; }
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-columns: auto;
    grid-template-areas: "section" "main" "main" "footer"; }
    .gridContainer section {
      grid-area: section; }
    .gridContainer main {
      grid-area: main; }
    .gridContainer footer {
      grid-area: footer; }
  /*H1 DE TODOS LOS HTML*/
  .gridSection {
    width: 180%;
    background-color: azure;
    margin-top: 20%; }
  /*H2 DE TODOS LOS HTML*/
  .gridSectionSlogan {
    width: 180%;
    margin-top: 15%;
    text-align: center; }
  /*ESTILOS PARA MAIN*/
  .gridMain {
    display: grid;
    grid-template-areas: "main";
    width: 180%;
    background-color: aliceblue; }
    .gridMain .gridMainText {
      font-family: "Anton", sans-serif;
      line-height: 1.5;
      font-weight: bolder;
      text-align: center;
      color: rgba(0, 0, 255, 0.62);
      grid-template-areas: "main";
      margin: 2%; }
  /*imagen que hace parte de MAIN EN index*/
  .gridMainEs {
    grid-area: main;
    width: 480px;
    height: 480px;
    padding: 2%;
    image-resolution: 40px;
    border-radius: 30%;
    margin-left: 20%;
    border-color: rgba(0, 0, 255, 0.62);
    border-width: 10px;
    border-style: ridge; }
  /*ACA COMIENZA EL FORMULARIO conteneder-padre con cada uno de sus hijos en INDEX, COMENZAR Y ACCESSO. TAMBIEN SE APLICA AL FORM MAQUETADO CON BOOTSTRAP EN INDEX Y ACCESSO*/
  .gridMainForm {
    border-radius: 2%;
    border-color: rgba(0, 0, 255, 0.62);
    border-width: 5px;
    border-style: solid;
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    display: gridMainForm;
    background-color: azure; }
  .gridMainForm1 {
    border-radius: 2%;
    border-color: rgba(0, 0, 255, 0.62);
    border-width: 5px;
    border-style: solid;
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    display: gridMainForm;
    background-color: azure;
    width: 100%;
    /*Nombre*/ }
    .gridMainForm1 .form1 {
      grid-area: form1;
      margin: 20px;
      /*Email*/ }
      .gridMainForm1 .form1 .form2 {
        grid-area: form2;
        margin: 20px;
        /*Comentarios*/ }
        .gridMainForm1 .form1 .form2 .form3 {
          grid-area: form3;
          margin: 20px 20px 20px 20px;
          /*boton de envio*/ }
          .gridMainForm1 .form1 .form2 .form3 .form5 {
            grid-area: form5;
            margin: 20px;
            text-align: center; }
  .gridMainArticle {
    border-radius: 2%;
    border-color: rgba(0, 0, 255, 0.62);
    border-width: 5px;
    border-style: solid;
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    display: grid;
    width: 100%;
    grid-template-areas: "main";
    background-color: #AED6F1;
    text-align: center; }
    .gridMainArticle .gridMainArticleUno {
      grid-template-areas: "main";
      text-align: justify;
      text-align: center; }
      .gridMainArticle .gridMainArticleUno .gridMainArticleDos {
        grid-template-areas: "main";
        text-align: justify; }
        .gridMainArticle .gridMainArticleUno .gridMainArticleDos .gridMainArticleTres {
          grid-template-areas: "main";
          text-align: justify; }
  /*COMIENZO DE MAINMEDIA y estilos aplicados al mismo la pagina de ACCESSO */
  .gridMainMedia {
    display: gridMainMedia;
    width: 100%; }
    .gridMainMedia .mediaVideo1 {
      grid-area: mediavideo1;
      width: 100%;
      margin: 10px 10px 10px 10px;
      border-radius: 10px; }
  .gridFooter {
    display: grid;
    width: 180%;
    grid-template-areas: "gridFooter";
    justify-content: center;
    font-size: large;
    text-align: center; }
  .gridFooterUno {
    grid-area: footer; }
  .gridFooterDos {
    grid-area: footer; }
  .gridFooterTres {
    grid-area: footer;
    font-weight: 900; }
  .gridFooterText {
    grid-area: footer; } }
