$size: 40px;
$fondo-de-color:whitesmoke;
$ancho: 100%;
$largo:100%;
$blue:#AED6F1 ;
$azure: rgba(233, 72, 219, 0.596);
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra:'Anton', sans-serif;
$alinear-al-centro: center;
$background-color: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
$border-style: border-radius;
$text-color: black;


